.title
{
    text-align: center;
}

body{
    background-color: #dae7e3;
    background-image: url(Assets/images/bg3.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.footer nav{
    position: fixed;
    top: 96%;
    right: 45%;
    color: rgb(0, 0, 0);
    text-decoration: underline;
  }

.selfie img{
    width: 250px;
    position: fixed;
    top: 50%;
    right: 10%;
    transform: translateY(-50%);
}


.whiteSquare {
  position: absolute;
  top: 56%;
  left: 30%;
  transform: translate(-50%, -50%);
  width: 45%;
  height: 11%;
  background-color: rgb(255, 252, 236);
  z-index: 0;
  }
  
  .textContent {
    position: absolute;
  top: 50%; /* Center vertically */
  left: 30%; /* Adjust to move it slightly more to the left */
  transform: translate(-50%, -50%);
  z-index: 1;
  }
  
  .textContent h3,
  .textContent h4,
  .textContent h5 {
    margin: 2; 
  }