.title
{
    text-align: center;
}

body{
    background-color: #f7ede2;
    background-image: url(Assets/images/bg1.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.buttonGallery{
    width: 220px;
  height: 90px;
  background-color: #f28482;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.buttonAbout{
    width: 220px;
  height: 90px;
  background-color: #f6bd60;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.buttonContact{
    width: 220px;
  height: 90px;
  background-color: #84a59d;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.buttonWrapper{
  position: fixed;
  top: 50%;
  left: 10%;
  transform: translateY(-50%);
}

.buttonGallery a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 25px;
    font-weight: bold;
  }

  .buttonAbout a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 25px;
    font-weight: bold;
  }

  .buttonContact a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 25px;
    font-weight: bold;
  }

 .sun img {
    width: 500px;
    position: fixed;
    top: 50%;
    right: 10%;
    transform: translateY(-50%);
  }

  .sunlink{
    position: fixed;
    top: 75%;
    right: 15%;
    color: rgb(0, 0, 0);
    text-decoration: underline;
  }

  .footer nav{
    position: fixed;
    top: 96%;
    right: 45%;
    color: rgb(0, 0, 0);
    text-decoration: underline;
  }