.title
{
    text-align: center;
}

body{
    background-color: #f7ede2;
    background-image: url(Assets/images/bg1.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.buttonGallery{
    width: 220px;
  height: 90px;
  background-color: #f28482;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.buttonAbout{
    width: 220px;
  height: 90px;
  background-color: #f6bd60;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.buttonContact{
    width: 220px;
  height: 90px;
  background-color: #84a59d;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.buttonWrapper{
  position: fixed;
  top: 50%;
  left: 10%;
  transform: translateY(-50%);
}



.buttonGallery a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 25px;
    font-weight: bold;
  }

  .buttonAbout a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 25px;
    font-weight: bold;
  }

  .buttonContact a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 25px;
    font-weight: bold;
  }

 .sunWrapper {
    width: 500px;
    position: fixed;
    top: 50%;
    right: 10%;
    transform: translateY(-50%);
    
  }

  .sun img{
    max-width: 100%;
  }

  .sunlink{
    position: fixed;
    top: 85%;
    right: 15%;
    color: rgb(0, 0, 0);
    text-decoration: underline;
  }

  .footer nav{
    position: fixed;
    top: 96%;
    right: 45%;
    color: rgb(0, 0, 0);
    text-decoration: underline;
  }


  /* got help for all the below code on various web pages and reddit posts */
  @media screen and (max-width: 768px) {
    .buttonWrapper {
      top: 47%; 
      left: 50%;
      transform: translateX(-50%);
      display: flex;
      flex-direction: column;
      align-items: center;
      z-index: 0;
    }
  
    .buttonGallery,
    .buttonAbout,
    .buttonContact {
      width: 150px;
      height: 60px;
    }
  
    .sunWrapper {
        width: 260px;
      top: 10%; 
      right: 50%;
      transform: translateX(50%);
      z-index: 1;
    }
  }